body {
    padding: 0;
    margin: 0;
}

.about {
    height: 250px;
    width: 100%;
    background-color: gray;
}

.about h1 {
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

.about h2 {
    text-align: center;
    color: black;
    padding-top: 0;
    font-size: 70px;
    text-decoration-line: underline;
    margin-bottom: 0;
}

.form-group input {
    border-radius: 20px;
}

.about img {
    height: 110px;
    width: 110px;
    margin-right: 61%;
    margin-top: -75px;
}

.caption A1 {
    padding-bottom: 10px;
}

.navbar button {
    border-radius: 20px;
}